a {
	padding: 2px;
}


#backgroundinfo {
	bottom: 18px;
	position: absolute;
}

body {
	/* used uigradients.com for the background gradient*/
	background: #ff5f6d; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#ff5f6d,
		#ffc371
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#ff5f6d,
		#ffc371
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: black;
	font-family: 'Roboto Slab', serif;
}

#container {
	height: 275px;
	width: 275px;
	position: relative;
	text-align: center;
}

.fa-github {
	color: black;
}

.fa-linkedin-square {
	color: black;
}